<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://hoyo.idv.tw" id="com.hoyo.RTSSC" version="1.1.0">
  <name>Ricoh-Tehta-S-Simple-Control</name>
  <description>Ricoh-Tehta-S-Simple-Control.</description>
  <author href="http://hoyo.idv.tw" email="pc@hoyo.idv.tw">hoyo</author>
  <content src="index.html"/>

  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="14"/>
  <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1"/>

  <icon src="icon.png"/>

  <access origin="*"/>

  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>

</widget>